.show {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.data {
  margin-right: 20px;
}
.check {
  color: green;
}
.delete {
  color: red;
}
.check:hover {
  color: seagreen;
  border-radius: 15px;
}
.delete:hover {
  border-radius: 15px;
  background-color: rgb(232, 121, 121);
  color: rgb(232, 121, 121);
}
